/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Regla unificada para campos de formulario y Select2 */
.form-group .form-control,
.form-group .form-select,
.form-group select,
.form-group input,
.form-group .select2-container,
span.select2-container--bootstrap-5 {
    max-width: 350px !important;
    width: 100% !important;
}
