@{
    ViewBag.Title = "Panel del Residente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            Panel del Residente
        </div>
        <div class="card-body">
            <p>Bienvenido/a, @(Session["NombreUsuario"] ?? User.Identity.Name).</p>

            <div class="row">
                <div class="col-md-4 mb-3">
                    @Html.ActionLink("Mis pagos", "Index", "Pagos", null, new { @class = "btn btn-primary btn-block" })
                </div>
                <div class="col-md-4 mb-3">
                    @Html.ActionLink("Reservar área común", "Index", "Reservas", null, new { @class = "btn btn-primary btn-block" })
                </div>
                <div class="col-md-4 mb-3">
                    @Html.ActionLink("Reportar incidencia", "Crear", "Incidencias", null, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
        </div>
    </div>
</div>
