@model proyecto_programacion_avanzada.DTOs.UsuarioDto

<h2>Eliminar Usuario</h2>

<h4>
    ¿Desea eliminar a @Model.Nombre?
</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.IdUsuario)

    <button class="btn btn-danger">
        Eliminar
    </button>

    @Html.ActionLink("Cancelar", "Index", null,
    new { @class = "btn btn-secondary" })
}